
<div class="MainContainer">
  <div class="HeaderContainer">
    <div class="ContainerHead">
      <div style="font-size: 30px; padding-left: 20px; padding-top: 10px; color: rgb(12 63 65); font-weight: bold;">Cyepro Solution</div>
      <div class="HeaderSubHeading menu-footer">
        <span style="border-bottom: 1px solid;">Cyepro For Service</span>
        <span></span>
        <span>Ticketing System</span>
        <span class="language">English (US)</span>
      </div>
    </div>
  </div>
  
  <div>
    <router-outlet ></router-outlet>
  </div>

</div>
  
